<?xml version="1.0" encoding="utf-8"?>
<CommunityServer>

    <!--
	defaultLanguage (default = en-US) :
		This is the default language your forums installation will use when Anonymous users	and guests first visit the
		homepage, and after they register.  Once registered, they may change their language preference from their user
		Control Panel.  To view a list of supported languages, open the following XML file:
		~/Languages/languages.xml

	requestEncoding (default = web.config globalization settings)
		The precedence of values is as follows: pull value from the Core element below.  When not present, get value
		from Request.ContentEncoding.  If HttpContext is null, default to Encoding.UTF8.

	responseEncoding (default = web.config globalization settings)
		The precedence of values is as follows: pull value from the Core element below.  When not present, get value
		from Response.ContentEncoding.  If HttpContext is null, default to Encoding.UTF8.

	disableEmail (default = False) :
		Setting this to True will disable the Email processing on this server.  This is primarily used
		on clustered servers to allow only certain machines to process email.  Having all clustered web servers attempting
		to process the email queue could result in duplicate emails being sent on high-traffic websites.  This setting
		allows you to control which servers queue and send the emails in a load-balanced environment.

		This setting overrides the SiteSettings option for sending emails, if the sitesettings has emails set to True.
		Else, nothing changes and no web server sends email.

	disableIndexing (default = False) :
		Setting this to True will disable .NET indexing of cached data (language files, site settings, forums information,
		etc).  Setting this to True will degrade the system and the forum's performance.

	disableThreading (default = False) :
		Setting this to True will disable .NET background threading of system processing (emails, stats, etc).  Setting
		this to True will degrade the system's and the forum performance.

	smtpServerConnectionLimit (default = -1)
		Limits or throttles the number of concurrent connections that can be sent to an SMTP server when sending email. Some ISP's
		limit the number of concurrent connections from a single account and if there is a large email queue we can quickly exhaust
		the number of connections to the ISP's SMTP server. In other situations you may not have this restriction and can just leave it
		at the default which will send the email as fast as it can and not worry about the number of connections used by a single
		account.

	enableLatestVersionCheck (default = true)
		Option to control whether the admin page attempts to contact the forums site to check for the latest version. Turn this option
		to false to turn this capability off.

	backwardsCompatiblePasswords (default = false)
		Should CS attempt to upgrade an account after a failed login attempt. MemberRoles stored password hashes slightly differently from
		Forums 2.0. If set to backwardsCompatiblePasswords is set to true, after a failed login attempt, CS will attempt to upgrade the account.
		If you are working on a clean install of CS, you should leave this at false.

	
  xFrameOptions
    This sets the X-FRAME-OPTIONS response header.  If it is empty then the X-FRAME-OPTIONS header will not be added to the response.
    Possible values are DENY or SAMEORIGIN.  The header determines if the site can be viewed within an iFrame.

	unlockUserAfterMinutes
		This sets how many minutes a user should remain locked out of logging in once a lock has been put on the user by aspnet membership.
		Use -1 to never automatically unlock an account.
		See web.config membership section's maxInvalidPasswordAttempts and passwordAttemptWindow to set how many failed attempts the user
			can make at logging in and in how short of a time respectively.
			
	disallowedFileExtensions
		Comma-separated list of file extensions (without leading period) that cannot be uploaded to the site by any user.
		-->
    <Core
			defaultTheme="3fc3f82483d14ec485ef92e206116d49"
			defaultGroupTheme="3fc3f82483d14ec485ef92e206116d49"
			defaultLanguage="en-US"
			disableEmail="false"
			disableIndexing="false"
			disableThreading="false"
			cacheFactor="5"
			smtpServerConnectionLimit="-1"
			enableLatestVersionCheck="true"
			systemType="Self"
			backwardsCompatiblePasswords="false"
			defaultRoles="Everyone;Registered Users"
			enableVirtualization="false"
			enableProductListing="true"
			enableUsersOnline="true"
			announcementRssUrl="https://community.telligent.com/r?43"
			enableBackgroundCacheCallbacks="false"
			xFrameOptions="SAMEORIGIN"
			unlockUserAfterMinutes="5"
			lookupUsersByEmail="false"
      enableRestStatusMessageOnUser="false"
			disallowedFileExtensions="dll,exe"
			>
        <providers>
            <clear/>

            <add
					name="SiteUrlsDataProvider"
					type="Telligent.Evolution.Urls.UrlsData, Telligent.Evolution.Platform"
					path="SiteUrls.config"
					overridePath="SiteUrls_override.config"
					redirectsPath="SiteUrls_redirects.config"
		    />

        </providers>

        <extensionModules enabled="false">

       <!-- Windows Authentication Parameters:
			allowAutoUserRegistration (default = true)
			This option controls whether the forums will support auto registration of users in the system. This is useful if the
			community is being used with Windows authentication or in an integrated hosting environment	such DotNetNuke or some 
      other parent site where the parent site provides the user validation. This will simply createa user profile for this 
      authenticated user.

			adminWindowsGroup (default = Administrators)
			Members of this group will be mapped to the Administrative role.

			adminWindowsGroupIsSystemAdministrator (default = true)
			Controls whether members of the built in group Administrators are automatically treated as administrators in the application.

			stripDomainName (default = true)
		    Controls whether the domain name is stripped off of the username in Community Server.

			emailDomain (default = "@TempUri.org")
			Sets the domain part to be added to the username of a new user for the default email address when creating a new account.

			mapADGroups (default = false)
			Controls whether or not Windows security group to Community Server role mappings defined in the <GroupMappings /> node
			are applied.

      profileRefreshInterval (default = 7)
      By default, we refresh the user accounts in our system from your shared applications every 7 days. You can reduce this
      refresh rate as low as once every day (every 24 hours).
			-->

			<add name="WindowsAuthentication"
					extensionType="Security"
					type="Telligent.Evolution.SecurityModules.WindowsAuthentication, Telligent.Evolution.SecurityModules"
					allowAutoUserRegistration="true"
					adminWindowsGroup="Administrators"
					adminWindowsGroupIsSystemAdministrator="true"
					stripDomainName="true"
					emailDomain="@TempURI.org"
					mapADGroups="false"
          profileRefreshInterval="7">
				<GroupMappings />
			</add>
        </extensionModules>
    </Core>

    <!-- Weblog Configuration
	Base Theme
		The theme to use as the base for skin inheritance; if the skin or view file is not found in the current theme,
		the system will search this loction before looking at the site default location

        blogEmailSubscriptionTimeFrequency - Minimum elapsed time (minutes) before user able to subscribe to blog again and email sent
	-->
    <Weblog
			defaultTheme="7e987e474b714b01ba29b4336720c446" enableSkinCache="true" enableThemes="true"
			aggregatePostSize="250"
			aggregatePostCount="25" individualPostCount="15"
			authenticateOnSectionNotFound="false" blogEmailSubscriptionTimeFrequency="1440"
    >
        <AttachmentSettings
				extensions="123,aac,ai,aiff,art,asf,asx,avi,bmp,csd,db,dmg,doc,docx,drw,eml,flac,flv,gif,gz,ics,jpeg,jpg,log,m4a,m4p,m4v,mdb,mdbx,mid,midi,mmv,mov,mp3,mp4,mpg,mpeg,mpp,msg,ogg,ogv,pdf,png,pps,ppt,pptx,ps,psd,qt,ram,rar,rm,rtf,sit,sitx,sql,tif,tiff,txt,vcf,vcs,wav,webm,wma,wmv,wpd,wps,xls,xlsx,xml,zip" />
        <DefaultPingServices>
            <add url="http://rpc.weblogs.com/RPC2" />
            <add url="http://rpc.pingomatic.com" />
        </DefaultPingServices>
    </Weblog>

    <!-- Forum Configuration -->
    <Forums>
        <AttachmentSettings
      extensions="123,aac,ai,aiff,art,asf,asx,avi,bmp,csd,db,dmg,doc,docx,drw,eml,flac,flv,gif,gz,ics,jpeg,jpg,log,m4a,m4p,m4v,mdb,mdbx,mid,midi,mmv,mov,mp3,mp4,mpg,mpeg,mpp,msg,ogg,ogv,pdf,png,pps,ppt,pptx,ps,psd,qt,ram,rar,rm,rtf,sit,sitx,sql,tif,tiff,txt,vcf,vcs,wav,webm,wma,wmv,wpd,wps,xls,xlsx,xml,zip" />
    </Forums>

    <!-- Media Galleries Configuration 	-->
    <MediaGalleries>
        <AttachmentSettings
			extensions="123,aac,ai,aiff,art,asf,asx,avi,bmp,csd,db,dmg,doc,docx,drw,eml,flac,flv,gif,gz,ics,jpeg,jpg,log,m4a,m4p,m4v,mdb,mdbx,mid,midi,mmv,mov,mp3,mp4,mpg,mpeg,mpp,msg,ogg,ogv,pdf,png,pps,ppt,pptx,ps,psd,qt,ram,rar,rm,rtf,sit,sitx,sql,tif,tiff,txt,vcf,vcs,wav,webm,wma,wmv,wpd,wps,xls,xlsx,xml,zip" />
    </MediaGalleries>

    <!-- Wikis Configuration -->
    <Wikis>
        <AttachmentSettings
          extensions="123,aac,ai,aiff,art,asf,asx,avi,bmp,csd,db,dmg,doc,docx,drw,eml,flac,flv,gif,gz,ics,jpeg,jpg,log,m4a,m4p,m4v,mdb,mdbx,mid,midi,mmv,mov,mp3,mp4,mpg,mpeg,mpp,msg,ogg,ogv,pdf,png,pps,ppt,pptx,ps,psd,qt,ram,rar,rm,rtf,sit,sitx,sql,tif,tiff,txt,vcf,vcs,wav,webm,wma,wmv,wpd,wps,xls,xlsx,xml,zip" />
    </Wikis>

    <Search maxAttachmentTermCount="1000000">
        <highlight bestMatchFieldName="content" bestMatchTitleFieldName="title">
            <!--<preText><![CDATA[<em>]]></preText>
      <postText><![CDATA[</em>]]></postText>-->
        </highlight>
        <!-- Solr configuration
      enableFieldCollapsing - Set to false if you want to globally turn off field collapsing.
    -->
        <Solr enableFieldCollapsing="true">
        </Solr>
    </Search>

    <!--
		Mail Gateway Configuration
			subjectPrefixesToStrip - Add indicators that should be stripped from the beginning of a subject when matching replies based on the subject.
	-->
	<MailGateway subjectPrefixesToStrip="RE:,FW:,FWD:">
		<QuoteRegex>
			<!--Mail.app, iPhone, Gmail-->
			<add regex="(?:&lt;div&gt;(?:\s*&lt;br ?/?&gt;)?)\s*On [^&quot;]+&quot;[\s\w']+&quot;(?:\s(?:&lt;|&amp;lt;&lt;a href=&quot;[\w:\./@]+&quot;&gt;)[\w\./@]+(?:&gt;|&lt;/a&gt;&amp;gt;))? wrote" />
      <!--OSX Mail-->
      <add regex="&lt;div[^&gt;]*&gt;(?:(?!&lt;/div).)*[^&gt;]*?&gt;?\s*?On[^&lt;&amp;]*(?:(?:&lt;|&amp;lt;)&lt;a [^&gt;]*?href=&quot;[^&lt;&gt;@&quot;]*@[^&lt;&gt;@&quot;]*&quot;[^&gt;]*&gt;[^&lt;&gt;@]*@[^&lt;&gt;@]*(?:&gt;|&lt;/a&gt;&amp;gt;))? wrote.*" />
			<!--Yahoo, Entourage-->
			<add regex="(?:---\s)?On(?:\s\w+,)?\s\d{1,4}[-/\.]\d{1,2}[-/\.]\d{1,4}(?:\s\d{1,2}:\d{2}(?:\s(?:am|pm))?)?(?:,)?\s(?:&quot;|&amp;quot;)?[\s\w]+(?:&quot;|&amp;quot;)?(?:\s(?:&lt;|&amp;lt;|&amp;lt;&lt;a\shref=&quot;[\w:\./@]+&quot;&gt;)[\w:\./@]+(?:&gt;|&amp;gt;|&lt;/a&gt;&amp;gt;))?\swrote" />
			<!--Windows Mobile, Blackberry-->
			<add regex="(?:-{2,})?Original\sMessage(?:-{2,})?" />
			<!--Gmail-->
			<add regex="&lt;div\sclass=['&quot;]gmail_quote['&quot;]&gt;" />
			<!--Hotmail-->
			<add regex="&lt;DIV\sstyle=['&quot;]BACKGROUND:\s#f5f5f5['&quot;]&gt;" />
			<!--HTML Blackberry-->
			<add regex="&lt;hr\salign=['&quot;]center['&quot;]&gt;" />
			<!--Outlook, Windows Phone 8 -->
			<add regex="(?:&lt;div[^&gt;]*&gt;)?\s*(?:&lt;hr[^&gt;]*&gt;)?\s*(?:&lt;div[^&gt;]*&gt;)?(?:&lt;font[^&gt;]*&gt;)?(?:&lt;p[^&gt;]*&gt;)?(?:&lt;b&gt;)?(?:&lt;span[^&gt;]*&gt;)?(?:&lt;b&gt;)?From:(?:&lt;/b&gt;)?\s*(?:&lt;/span&gt;)?\s*(?:&lt;/b&gt;)?" />
		</QuoteRegex>
	</MailGateway>

    <FileViewers>
    </FileViewers>

    <Applications>
        <add type="Telligent.Evolution.Components.CoreApplication, Telligent.Evolution.Platform" />
        <add type="Telligent.Evolution.Blogs.Components.WeblogApplication, Telligent.Evolution.Blogs" />
        <add type="Telligent.Evolution.Forums.Internal.Legacy.ForumApplication, Telligent.Evolution.Forums" />
        <add type="Telligent.Evolution.MediaGalleries.Internal.Legacy.MediaGalleryApplication, Telligent.Evolution.MediaGalleries" />
        <add type="Telligent.Evolution.Wikis.Internal.Legacy.WikiApplication, Telligent.Evolution.Wikis" />
    </Applications>

    <!--
    Centalized File Storage

    Each file store can either be defined within a fileStoreGroup or use its own provider.  File stores and file store group providers are:

      1. File System Storage Provider
         This provider stores file on the file system in a given base folder.  Configuration values:

         * type
           Set to "Telligent.Evolution.Extensibility.Storage.Providers.Version1.FileSystemFileStorageProvider, Telligent.Evolution.Platform" to identify this provider

         * connectionStringName
					 The name of the connection string in connectionstrings.config that contains the path to the filestore
           
			2. An optional delivery configuration via a nested <delivery /> node with the following configuration:
			
				* type
					Set to an implementation of Telligent.Evolution.Extensibility.Storage.Version1.ICentralizedFileStorageDeliveryProvider, for example, 
					Telligent.Evolution.Extensibility.Storage.Providers.Version1.DeliveryProvider, Telligent.Evolution.Platform
					
				* provider-specific configuration options
					For the default delivery provider, this is connectionStringName which references the name of the connection string in connectionStrings.config that contains
					the configuration details for the delivery provider. 
					
    -->
    <CentralizedFileStorage>
			<fileStoreGroup name="default" default="true" type="Telligent.Evolution.Extensibility.Storage.Providers.Version1.FileSystemFileStorageProvider, Telligent.Evolution.Platform" connectionStringName="FileStorage">
				<delivery type="Telligent.Evolution.Extensibility.Storage.Providers.Version1.DeliveryProvider, Telligent.Evolution.Platform" connectionStringName="FileDelivery" />
			</fileStoreGroup>
    </CentralizedFileStorage>
    <!--
		Mime types can be declared here.
		<mimeType
			extension="<comma-seperated list of extensions to apply the mimeType to>"
			mimeType="<mime type for the file extension(s)>"
			isText="<true if file represents text, false if it's binary>" # If not declared defaults to false
			forceDownload="<true if the file type should always be downloads instead of opened in
				the browser window, false if it should be opened in browser>" # If not declared defaults to true
		/>
	-->
    <MimeTypes>
			<mimeType extensions="aac" mimeType="audio/aac" />
      <mimeType extensions="csv" mimeType="application/vnd.ms-excel" />
      <mimeType extensions="css,less" mimeType="text/css" isText="true" />
      <mimeType extensions="js" mimeType="text/javascript" isText="true" />
      <mimeType extensions="doc" mimeType="application/msword" />
      <mimeType extensions="gif" mimeType="image/gif" forceDownload="false" />
      <mimeType extensions="bmp" mimeType="image/bmp" forceDownload="false" />
      <mimeType extensions="htm,html" mimeType="text/html" isText="true" />
      <mimeType extensions="jpg,jpeg" mimeType="image/jpeg" forceDownload="false" />
      <mimeType extensions="pdf" mimeType="application/pdf" forceDownload="false" />
      <mimeType extensions="png" mimeType="image/png" forceDownload="false" />
      <mimeType extensions="ppt" mimeType="application/vnd.ms-powerpoint" />
      <mimeType extensions="rtf" mimeType="application/msword" />
      <mimeType extensions="txt" mimeType="text/plain" isText="true" />
      <mimeType extensions="xls" mimeType="application/vnd.ms-excel" />
      <mimeType extensions="xml" mimeType="text/xml" isText="true" />
      <mimeType extensions="wmv,wma" mimeType="video/x-ms-wmv" />
      <mimeType extensions="mpeg,mpg,mpa,mpe" mimeType="video/mpeg" />
      <mimeType extensions="webm" mimeType="video/webm" />
      <mimeType extensions="ogv" mimeType="video/ogg" />
      <mimeType extensions="mov,qt" mimeType="video/quicktime" />
      <mimeType extensions="avi" mimeType="video/x-msvideo" />
      <mimeType extensions="asf,asr,asx" mimeType="video/x-ms-asf" />
      <mimeType extensions="flv" mimeType="video/x-flv" />
      <mimeType extensions="zip" mimeType="application/zip" />
      <mimeType extensions="mp3" mimeType="audio/mpeg" />
      <mimeType extensions="wav" mimeType="audio/wav" />
      <mimeType extensions="mp4" mimeType="video/mp4" />
      <mimeType extensions="ogg" mimeType="audio/ogg" />
      <mimeType extensions="docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
      <mimeType extensions="dotx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template" />
      <mimeType extensions="ppsx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow" />
      <mimeType extensions="pptx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
      <mimeType extensions="xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
      <mimeType extensions="xltx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
      <mimeType extensions="otf" mimeType="font/opentype" />
      <mimeType extensions="ttf" mimeType="font/truetype" />
      <mimeType extensions="eot" mimeType="application/vnd.ms-fontobject" />
      <mimeType extensions="svg" mimeType="image/svg+xml"  forceDownload="false" />
      <mimeType extensions="woff" mimeType="application/x-font-woff" />
      <mimeType extensions="ico" mimeType="image/x-icon" />
			<mimeType extensions="vm" mimeType="text/x-velocity-macro" isText="true" />
			<mimeType extensions="jsm" mimeType="text/x-javascript-macro" isText="true" />
    </MimeTypes>
</CommunityServer>
