<?xml version="1.0" encoding="utf-8"?>
<Overrides>
    <Override xpath="/CommunityServer/CentralizedFileStorage" mode="add" where="start">
        <fileStoreGroup name="s3" default="true" 
                type="FourRoads.VerintCommunity.AmazonS3.FilestoreProvider, FourRoads.VerintCommunity.AmazonS3" 
                awsAccessKeyId="" 
                awsSecretAccessKey=""
                region="eu-central-1" 
                bucket="telligent1"
                enableAcceleration="true" 
                authorization="AWS4-HMAC-SHA256" 
                secure="true"
                cacheTimeSeconds="600"
                domain="s3-accelerate.amazonaws.com">
            <fileStore name="articles" />
        </fileStoreGroup>
    </Override>
</Overrides>
