<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="SiteSqlServer" connectionString="server=mbp16;database=tc13;Trusted_Connection=no;uid=sa;pwd=Test1234!"/>
  <add name="FileStorage" connectionString="C:\dev\4r\v13\cfs"/>
  <add name="SearchContentUrl" connectionString="http://localhost:8983/solr/telligent-content/"/>
  <add name="SearchConversationsUrl" connectionString="http://localhost:8983/solr/telligent-conversations/"/>
  <add name="Reporting" connectionString="server=(local);Trusted_Connection=yes;database=ReportingDB"/>
  <add name="SiteUrl" connectionString="http://localhost:5000"/>
  <add name="FileDelivery" connectionString=""/>
</connectionStrings>