<?xml version="1.0"?>
<!-- 
		MaxNumberOfThreads - Maximum number of jobs to execute concurrently.  A value of -1 will automatically set this value.
		LookAheadInterval- How far ahead to look ahead for jobs to execute.
		ServiceName - Name of the Service when installing.
	-->
<jobs
  MaxNumberOfThreads="-1"
  LookAheadInterval="00:00:02"
  ServiceName="Telligent Job Service"
/>