<?xml version="1.0" encoding="utf-8" ?>
<Ldap>
	 
	<!-- AttributeGroups will be separate sections on the ldap tab of EditProfile. You can create as many or few as needed.
		
		Default AccessLevel is ReadOnly - optional value(s) are ReadOnly or ReadWrite
	-->

	<CoreAttributes UserObjectClass="user" GroupObjectClass="group" GroupNameIdentifier="cn"
					UserEmail="mail" UserDomainName="samaccountname" PageSize="1000" UserCommonName="cn" />

  <!-- In Contacts, the settings needing to be manually configured depending on the environment would be the BaseDN and the 
       default values for legacyExchangeDN and showInAddressBook options.
       
       If your internal domain is corp.example.com, then you would use
           DC=corp,DC=example,DC=com
       
       Take note of all locations of the capital word "Example" as well and replace that with appropriate information.
       -->
	<Contacts EnableSyncContacts="true" ObjectClass="contact" CommonName="cn" BaseDN="OU=Contacts,OU=DomainUsers,DC=corp,DC=example,DC=com">
		<Attribute Name="cn" Value="Evolution$ID" />
		<Attribute Name="name" Value="EvolutioN$ID" />
		<Attribute Name="displayName" Value="$NAME" />
		<Attribute Name="mail" Value="$EMAIL" />
		<Attribute Name="proxyAddresses" Value="SMTP:$EMAIL" />
		<Attribute Name="targetAddress" Value="smtp:$EMAIL" />
		<Attribute Name="mailNickname" Value="$NAME" />
		<Attribute Name="legacyExchangeDN" Value="/o=Example/ou=Exchange Administrative Group/cn=Recipients/cn=Evolution$ID" />
		<Attribute Name="showInAddressBook" Value="CN=Default Global Address List,CN=All Global Address Lists,CN=Address Lists Container,CN=Example,CN=Microsoft Exchange,CN=Services,CN=Configuration,DC=corp,DC=example,DC=com" />
		<Attribute Name="showInAddressBook" Value="CN=All Contacts,CN=All Address Lists,CN=Address Lists Container,CN=Example,CN=Microsoft Exchange,CN=Services,CN=Configuration,DC=corp,DC=example,DC=com" />
		<Attribute Name="internetEncoding" Value="1310720" />
		<Attribute Name="msExchRecipientDisplayType" Value="6" />
		<Attribute Name="mAPIRecipient" Value="FALSE" />
	</Contacts>

	<AttributeGroup Name="Personal Information" Order="1">
		<Attribute Name="name" DisplayAs="Name" AccessLevel="ReadWrite" />
		<Attribute Name="mailNickname" DisplayAs="Email Alias" AccessLevel="ReadOnly" />
		<Attribute Name="streetAddress" DisplayAs="Address" AccessLevel="ReadWrite" />
		<Attribute Name="l" DisplayAs="City" AccessLevel="ReadWrite" />
		<Attribute Name="st" DisplayAs="State" AccessLevel="ReadWrite" />
		<Attribute Name="postalCode" DisplayAs="Zip Code" AccessLevel="ReadWrite" />
		<Attribute Name="c" DisplayAs="Country/Region" AccessLevel="ReadWrite" />
		<Attribute Name="telephoneNumber" DisplayAs="Telephone Number" AccessLevel="ReadWrite" />
		<Attribute Name="mobile" DisplayAs="Mobile Number" AccessLevel="ReadWrite" />
	</AttributeGroup>
	<AttributeGroup Name="Company Information" Order="2">
		<Attribute Name="company" DisplayAs="Company" AccessLevel="ReadOnly" />
		<Attribute Name="title" DisplayAs="Title" AccessLevel="ReadWrite" />
		<Attribute Name="department" DisplayAs="Department" AccessLevel="ReadWrite" />
		<Attribute Name="physicalDeliveryOfficeName" DisplayAs="Office" AccessLevel="ReadWrite" />
	</AttributeGroup>
</Ldap>