<?xml version="1.0" encoding="utf-8" ?>
<!-- This file determines which packages have been added to Telligent Community -->
<Packages>
  <!--
  <Package Name="Ldap" Version="1.0" DateInstalled="2009-03-09" Id="4BF1091D-376C-42b2-B375-E2FE9480E845" />
  <Package Name="SharePoint" Version="1.0" DateInstalled="2009-03-09" Id="0D05BACA-B8EC-4233-B67D-6CAB7536A700" />
  -->
</Packages>
