<?xml version="1.0" encoding="utf-8" ?>
<SiteUrls>
 
  <locations type ="Telligent.Evolution.Urls.Location, Telligent.Evolution.Platform">
    <!-- 
        name: look up value
        path: site location
        exclude: should any path/link in this location be excluded from Url ReWriting?
        changes to exclude will require an application restart     
    -->
    <location name="themes" path="/themes/" exclude="true" />
    <location name="ajax" path="/ajax/" />
    <location name="es" path="/es/" />

    <location name="message" path="/msgs/" themeDir="msgs">
      <url name="message"  path="default.aspx?MessageID={0}" pattern="default.aspx" physicalPath="##themeDir##" vanity="{2}" page="message.aspx" indexable="false" />
      <url name="message_return"  path="default.aspx?MessageID={0}^ReturnUrl={1}" pattern="default.aspx" physicalPath="##themeDir##" vanity="{2}" page="message.aspx" indexable="false" />
      <url name="message_userban"  path="default.aspx?MessageID={0}^BanReason={1}^BanExpiration={2}" pattern="default.aspx" physicalPath="##themeDir##" vanity="{2}" page="message.aspx" indexable="false" />
      <url name="message_modal" path="modalmessage.aspx?MessageID={0}" pattern="modalmessage.aspx" physicalPath="##themeDir##" vanity="{2}" page="modalmessage.aspx" />
    </location>

    <location name="controlpanel" path="/controlpanel/" exclude = "true" applicationType="admin">
      <!-- ControlPanel paths -->
      <url name="controlpanel"  path="default.aspx" />
      <url name="controlpanel_loading"  path="loading.aspx?msg={0}" />

      <!-- Blog ControlPanel Pages -->
      <url name="blog_ControlPanel_Command" path="blogs/BlogCommand.aspx?WeblogID={0}^Command={1}{2}" />

		<!-- Blog Admin ControlPanel Pages -->
      <url name="blog_ControlPanel" path="BlogAdmin/" />
      <url name="blog_ControlPanel_AdminGeneralOption"  path="BlogAdmin/Options/GeneralOptions.aspx" />
      <url name="blog_ControlPanel_AdminSkinOptions"  path="BlogAdmin/Options/SkinOptions.aspx" />
      <url name="blog_ControlPanel_AdminFileStorageOptions"  path="BlogAdmin/Options/FileStorageOptions.aspx" />

      <!-- Hub Admin ControlPanel Pages -->
      <url name="hub_ControlPanel" path="GroupAdmin/" />
      <url name="hub_ControlPanel_AdminThemes" path="GroupAdmin/Options/ThemeOptions.aspx" />
      <url name="hub_ControlPanel_AdminBlogsPaged" path="BlogAdmin/Blogs.aspx?q={0}^a={1}^PageIndex={2}" />

      <!-- Settings Control Panel Pages -->
      <url name="settings_ControlPanel_Home"  path="Setup.aspx" />
      <url name="settings_ControlPanel_ControlPanel"  path="settings.aspx" />
      <url name="settings_ControlPanel_Setup"  path="Settings/Setup.aspx" />
      <url name="settings_ControlPanel_AdvancedConfiguration" path="Settings/AdvancedConfiguration.aspx" />
      <url name="settings_ControlPanel_ManagePlugins" path="Settings/ManagePlugins.aspx" />
      <url name="settings_ControlPanel_ManageOAuthClients" path="Settings/manageoauthclients.aspx" />
      <url name="settings_ControlPanel_ImportPluginResources" path="Settings/PluginResourceImport.aspx" />
      <url name="settings_ControlPanel_General"  path="Settings/General.aspx" />
      <url name="settings_ControlPanel_ManageThemes" path="Settings/ManageThemes.aspx" />
      <url name="settings_userfiles" path="settings/userfiles.aspx" />
      <url name="site_manage_files_root" path="settings/files.aspx" />
      <url name="site_manage_files" path="settings/files.aspx?folder={0}" />
      <url name="site_files_browseModal" path="settings/FilesBrowseModal.aspx?folder={0}" />
      <url name="settings_ControlPanel_SiteTerms" path="tools/ManageTerms.aspx" />
      <url name="settings_ControlPanel_Poll" path="tools/ManagePolls.aspx" />

      <!-- Membership Control Panel Pages -->
      <url name="membership_ControlPanel_Home"  path="membership/default.aspx" />
      <url name="membership_ControlPanel_UserAdd"  path="membership/UserAdd.aspx" />
      <url name="membership_ControlPanel_UserEdit"  path="membership/UserEdit.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UserEdit_UnlockedAccount"  path="membership/UserEdit.aspx?UserID={0}^Unlocked=true" />
      <url name="membership_ControlPanel_UserDelete"  path="membership/UserDelete.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UserAddedMessage"  path="membership/default.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UserRoles"  path="membership/UserRoles.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UserName"  path="membership/UserName.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UserPassword"  path="membership/UserPassword.aspx?UserID={0}" />
      <url name="membership_ControlPanel_UsersBrowse"  path="membership/membersearch.aspx" />
      <url name="membership_ControlPanel_UserSearch_AccountStatus"  path="membership/MemberSearch.aspx?search=1^s={0}" />
      <url name="membership_ControlPanel_UserSearch_Role"  path="membership/MemberSearch.aspx?search=1^r={0}" />
      <url name="membership_ControlPanel_RoleAdd"  path="membership/RoleEdit.aspx" />
      <url name="membership_ControlPanel_RoleEdit"  path="membership/RoleEdit.aspx?RoleID={0}" />
      <url name="membership_ControlPanel_UserPoints"  path="membership/UserPoints.aspx?UserID={0}" />

      <url name="membership_ControlPanel_EditFieldGroup"  path="membership/SectionEdit.aspx?SectionID={0}" />
      <url name="membership_ControlPanel_Fields"  path="membership/Fields.aspx" />
      <url name="membership_ControlPanel_FieldGroups"  path="membership/FieldGroups.aspx" />
      <url name="membership_ControlPanel_AccountSettings"  path="membership/AccountSettings.aspx" />

      <!-- Reports Control Panel Pages -->
      <url name="reports_ControlPanel_ExceptionsReport"  path="Tools/Reports/ExceptionsReport.aspx" />
      <url name="reports_ControlPanel_Jobs"  path="Tools/Reports/JobsReport.aspx" />



      <!-- System Tools Control Panel Pages -->
      <url name="tools_ControlPanel_ManageAds"  path="tools/ManageAds.aspx" />
      <url name="tools_ControlPanel_UsernameFilter" path="tools/UsernameFilter.aspx" />
      <url name="tools_ControlPanel_WordReplacementFilter" path="tools/WordReplacementFilter.aspx" />
      <url name="tools_ControlPanel_EmoticonFilter" path="tools/EmoticonFilter.aspx" />
      <url name="tools_ControlPanel_Smilies"  path="tools/ManageSmilies.aspx" />
      <url name="tools_ControlPanel_PointSystem"  path="tools/PointSystem.aspx" />
      <url name="tools_ControlPanel_Licenses"  path="tools/ManageLicenses.aspx" />
      <url name="tools_ControlPanel_Redirects"  path="tools/ManageShortenedUrls.aspx" />
      <url name="tools_ControlPanel_MassEmailingAdmin"  path="tools/MassEmailingAdmin.aspx" />
      <url name="tools_ControlPanel_ManageIP"  path="tools/ManageIP.aspx" />
      <url name="tools_ControlPanel_EventLogViewer"  path="tools/EventLogViewer.aspx" />
      <url name="tools_ControlPanel_ManageWidgets" path="tools/ManageWidgets.aspx" />
      <url name="tools_ControlPanel_ListWidgets" path="tools/ManageWidgets/ListWidgets.aspx" />
      <url name="tools_ControlPanel_DeveloperTools" path="tools/ManageWidgets/DeveloperTools.aspx" />
      <url name="tools_ControlPanel_ReplacementWidgetConfiguration" path="tools/ManageWidgets/ReplacementWidgetConfiguration.aspx?type={0}^Theme={1}" />      
      <url name="tools_ControlPanel_WidgetImport" path="tools/ManageWidgets/Merge.aspx?mode=ScriptedContentFragmentImport^callback={0}" />
      <url name="tools_ControlPanel_WidgetRevert" path="tools/ManageWidgets/Merge.aspx?mode=ScriptedContentFragmentRevert^callback={0}^fragmentSelectionCallback={1}" />
      <url name="tools_ControlPanel_ResourceImport" path="tools/ManageWidgets/Merge.aspx?mode=ResourceImport^callback=imported" />
      <url name="tools_ControlPanel_WidgetEditor"  path="administration#_aptype=panel^_appanelid=c13fd151-7407-46c0-998f-154773645b5c" />
      <url name="tools_ControlPanel_WidgetEditor_WidgetToEdit"  path="administration#_aptype=panel^_appanelid=c13fd151-7407-46c0-998f-154773645b5c^_fid={0}^_ftid=^_ft=overview^_selected={2}" />
      <url name="tools_ControlPanel_WidgetEditor_ThemedWidgetToEdit"  path="administration#_aptype=panel^_appanelid=c13fd151-7407-46c0-998f-154773645b5c^_fid={0}^_ftid={1}^_ft=overview^_selected={2}" />
      <url name="tools_ControlPanel_WidgetAddFiles" path="tools/ManageWidgets/WidgetAddFiles.aspx" />
      <url name="tools_ControlPanel_WidgetSelectTheme" path="tools/ManageWidgets/WidgetSelectTheme.aspx?SelectedTheme={0}" />

      <!-- API Documentation -->
      <url name="api_documentation"  path="ApiDocumentation/Default.aspx?api={0}" />
      <url name="api_documentation_Extension"  path="ApiDocumentation/Extension.aspx?name={0}^api={1}" />
      <url name="api_documentation_Extension_Member"  path="ApiDocumentation/Extension.aspx?name={0}^api={2}#{1}" />
      <url name="api_documentation_Type"  path="ApiDocumentation/Type.aspx?name={0}^api={1}" />
      <url name="api_documentation_StaticContent"  path="ApiDocumentation/Static.aspx?content={0}" />

    </location>

    <location name="user" path="/user/" themeDir="user">
      <url name="friend_request"  path="requestfriend.aspx?UserId={0}" pattern="RequestFriend.aspx" physicalPath="##themeDir##" vanity="{2}" page="RequestFriend.aspx" />
      <url name="user_EditAvatar"  path="editavatar.aspx" pattern="editavatar.aspx" physicalPath="##themeDir##" vanity="{2}" page="edituseravatar.aspx" />
    </location>

    <location name="utility" path="/utility/" exclude="false">
      <url name = "opmlxsl"  path = "feedstylesheets/opml.xsl" />
      <url name="configurecontentfragmenttab" path="configurecontentfragmenttab.aspx?"  />

		<!-- RSS -->
      <url name="rssImage"  path="images/rss.gif" />
      <url name="feedIcon"  path="images/feedicon.png" />
      <url name="secureRssImage"  path="images/securerss.gif" />
      <url name="secureRssImageDisabled"  path="images/securerss_disabled.gif" />

      <!-- Email -->
      <url name="emailImage" path="images/email.gif" />
    </location>

    <location name="search" path="/search/" exclude="false" themeDir="search">
      <url name="search" path="" pattern="default.aspx" vanity="{2}" physicalPath="##themeDir##" page="searchresultlist.aspx" />
      <url name="search_ForText" path="default.aspx?{0}" pattern="default.aspx" vanity="{2}" physicalPath="##themeDir##" page="searchresultlist.aspx" indexable="false" />
      <url name="search_rss" path="searchrss.aspx?{0}" pattern="Searchrss.aspx" vanity="rss.ashx?" acceptUserToken="public" />
      <url name="user_List_AllUsers_Search"  path="default.aspx?c=user" pattern="default.aspx" physicalPath="##themeDir##" vanity="{2}" page="searchresultlist.aspx" indexable="false" />
    </location>

    <location name="tags" path="/tags/" physicalPath="/" themeDir="tags" >
      <url name="tags_home"  path="default.aspx"  pattern="default.aspx" physicalPath="##themeDir##" vanity="{2}" page="tagslist.aspx" indexable="false"/>
      <url name="tags_browse" path="{0}/default.aspx" pattern="(.*?)/default.aspx" physicalPath="##themeDir##" vanity="{2}?Tags=$1" page="tagslist.aspx" indexable="false" forceLowercase="false" />
    </location>

    <!-- 
        When adding custom locations, add above here.  The common location should always be listed last.  
        When the url location pattern is matched, the search is done sequentially and the common path 
        of "/" will match any url.  
  -->
    <location name="common" path="/" themeDir="common" >
      <url name="home" path="" pattern="default.aspx" vanity="{2}" physicalPath="##themeDir##" page="home.aspx" />
      <url name="favicon" path = "favicon.ico" />
      <url name="siteMapIndex" path="SiteMapIndex.ashx" />
      <url name="siteMap" path="SiteMap.ashx?apptype={0}^{1}={2}^{3}={4}" />
      <url name="siteMapForGroup" path="SiteMap.ashx?apptype={0}^{1}={2}" />
      <url name="googleSiteMapIndex_old" path="" pattern="GoogleSiteMapIndex.ashx" vanity="redirect.ashx" />
      <url name="googleSiteMap_old" path="" pattern="GoogleSiteMap.ashx" vanity="redirect.ashx" />
      <url name="loadingImage"  path = "utility/spinner.gif" />
      <url name="emoticons"  path="" />
      <url name="help_ThreadIcons"  path="languages/{0}/docs/faq.aspx#58" />
      <url name="aggview"  path = "aggbug?PostID={0}^AppID={1}^AppType={2}^ContentType={3}" />
      <url name="cfs_file" path="cfs-file/{0}" />
      <url name="httpcallback" path="callback.ashx?__type={0}" />
      <url name="classnameexpansion" path="css-classnameexpansion?css={0}" />
      <url name="resized_image" path="resized-image/{0}" />
      <url name="mediagallerieshome" path="m/" />
      <url name="forumshome" path="f/" />
      <url name="wikishome" path="w/" />
      <url name="webloghome"  path="b/" />
	    <url name="oauth_signin" path="oauth?type={0}" />
      <url name="oauth_signin_redirect" path="oauth?type={0}^ReturnUrl={1}" />
      <url name="oauth_token"  path="" pattern="api.ashx/v2/oauth/token"  />
	    <url name="oauth_logout" path="" pattern="api.ashx/v2/oauth/logout"  />
  	  <url name="oauth_redirect" path="" pattern="api.ashx/v2/oauth/redirect"  />
	  </location>

    <location name="rest" path="/api.ashx/">
      <url name="rest_home" path="" />
      <url name="blogAdminService" path="blogadmin.ashx"  pattern="blogadmin.ashx" />
      <url name="forumsAdminService" path="forumsadmin.ashx"  pattern="forumsadmin.ashx" />
      <url name="membershipService" path="membership.ashx"  pattern="membership.ashx" />
      <url name="settingsService" path="settings.ashx"  pattern="settings.ashx" />
    </location>

    <location name="weblogs" path="/{0}b/" pattern="/##groupName##b/" vanity="GroupKeys=$1" themeDir="blogs" type="Telligent.Evolution.Urls.Location, Telligent.Evolution.Platform" applicationType="weblog">
      <url name = "weblog_newpost"  path="##blogdirectory##new.aspx" pattern="##blogName##/new.aspx" physicalPath="##blogthemeDir##"  vanity="{2}?WeblogApp=${{app}}" page="createeditpost.aspx" />
      <url name = "weblog_editpost" path="##blogdirectory##archive/{2}/{3}/{4}/{5}/edit.aspx" pattern="##blogName##/archive/(\d{4})/(\d{1,2})/(\d{1,2})/([a-zA-Z0-9\-\._]*?)/edit\.aspx" physicalPath="##blogthemeDir##" vanity="{2}?WeblogApp=${{app}}&amp;y=$2&amp;m=$3&amp;d=$4&amp;WeblogPostName=$5" page="createeditpost.aspx" />
    </location>

  </locations>

  <transformers>
    <add key = "^" value = "&amp;" />
    <add key = "##themeDir##" value = "/themes/{0}/{1}/" />
    <add key = "##blogthemeDir##" value = "/themes/blogs/{0}/" />
    <add key = "##bloggroupthemeDir##" value = "/themes/groups/{0}/blogs/" />
    <add key = "##blogdirectory##" value = "{1}/" />
    <add key = "##forumdirectory##" value = "{1}/" />
    <add key = "##forumThemeDir##" value = "/themes/groups/{0}/forums/" />
    <add key = "##wikiName##" value = "(?&lt;app&gt;[\w\.-]+)" />
    <add key = "##blogName##" value = "(?&lt;app&gt;[\w\.-]+)" />
    <add key = "##mediaGalleryName##" value = "([\w\.-]+)" />
    <add key = "##userName##" value = "([a-zA-Z0-9\-\._]*?)" />
    <add key = "//" value = "/" />
    <add key = "##groupthemeDir##" value = "/themes/groups/{0}/" />
    <add key = "##groupName##" value = "((?:|(?:[a-z-A-Z0-9\-\._]*\/)*))" />
  </transformers>

</SiteUrls>
