<?xml version="1.0" encoding="utf-8" ?>
<TabCollection>
  <Tabs>
    <Tab resourcename="CP_Membership_NavBar_MembersAndRoles" name="ManageMembersAndRoles">
      <SubTabs>
        <Tab resourcename="CP_Membership_NavBar_CreateMember" urlname="membership_ControlPanel_UserAdd" name="CreateMember" />
        <Tab resourcename="CP_Membership_NavBar_SearchMember" urlname="membership_ControlPanel_UsersBrowse" name="BrowseMembers" />
      </SubTabs>
    </Tab>
    <Tab resourcename="CP_NavBar_Configuration" name="Configuration">
      <SubTabs>
        <Tab resourcename="CP_Membership_Settings_Account_Title" urlname="membership_ControlPanel_AccountSettings" name="AccountSettings" />
        <Tab resourcename="CP_Membership_Settings_Security_Title" urlname="membership_ControlPanel_Options_Security" name="SecuritySettings" />
      </SubTabs>
    </Tab>
		<Tab resourcename="CP_Membership_NavBar_UserProfileConfiguration" name="UserProfileConfiguration">
			<SubTabs>
				<Tab resourcename="CP_Membership_NavBar_Fields" urlname="membership_ControlPanel_Fields" name="Fields" />
				<Tab resourcename="CP_Membership_NavBar_FieldGroups" urlname="membership_ControlPanel_FieldGroups" name="FieldGroups" />
			</SubTabs>
		</Tab>
  </Tabs>
</TabCollection>
